<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1 class="word">reset_password</h1>
</div></br></br></br>
<h2 class="word">
   <form action="{{ url_for('reset_password') }}" method="post">
     <div class="msg">{{ msg }}</div>
       <input id="username" name="username" type="text" placeholder="Username" class="textbox"/></br></br>
       <input id="new_password" name="password" type="password" placeholder="New Password" class="textbox"/></br></br></br>
       <input type="submit" class="btn" value="Create New Password"></br></br>
   </form>
   <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
   
</h2>
</body>
</html>